<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Моя Улюблена Книга</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body>
<div class="wrapper">
    <div class="bookInfo">
        <div class="bookImageSpace">
            <img class="bookImage" src = "./img/vedmak-mech-prednaznachenija-800x800.jpg"
                 alt = "Фото книги"
                 title = "Фото книги"
                 width = "535" height = "858"
            />
        </div>
        <div class="bookTextInfo">
            <p style="font-weight: bold">Назва книги: <a href="https://uk.wikipedia.org/wiki/Меч_призначення_(збірка_творів)">Меч призначення<i></i></a></p>
            <br>
            <p style="font-weight: bold">Автор книги: <a href="https://uk.wikipedia.org/wiki/Анджей_Сапковський"><i>Анджей Сапковський</i></a></p>
            <br>
            <p style="font-weight: bold">Жанр: <strong style="font-weight: normal">Фентезі</strong></p><br>
            <p style="font-weight: bold">Рік написання: <strong style="font-weight: normal">1992</strong></p><br>
        </div>
        <div class="pib">
            <h4 id="p1">
                Моя улюблена книга
            </h4>
            <p>
                Коваленко Владислав Русланович
            </p>
        </div>
    </div>
    <div class="shortInfo">
        <h4 id="p2">
            Короткий опис
        </h4>
        <div class="shortInfoText">
            <p style="padding-bottom: 30px; text-indent: 12px; padding-left: 15px">
                «Відьмак. Меч призначення» (пол. Miecz przeznaczenia) — друга збірка фентезійних оповідань про відьмака Ґеральта,
                написаних польським письменником Анджеєм Сапковським. Була видана у Польщі 1992 року видавництвом «SuperNOWA».
                Її попередницею є збірка «Останнє бажання».Це другий твір з циклу «Відьмак» як за хронологією, так і за часом написання.
                У цій частині Ґеральт вперше зустрічає Цірі і знаходить своє призначення.
            </p>
        </div>
    </div>
    <div class="authorInfo">
        <div class="authorImageSpace">
            <img class="authorImage" src="./img/Sapkowski.jpg"
                 alt = "Author"
                 title = "Author"
                 width = "200" height = "300"
            />
        </div>
        <div class="authorTextInfo">
            <p style="font-weight: bold">Автор книги: <a href="https://uk.wikipedia.org/wiki/Анджей_Сапковський"><i>Анджей Сапковський</i></a></p>
            <br>
            <p>(нар. 21 червня 1948)</p><br>
            <p style="text-indent: 12px" >
                А́нджей Сапко́вський (пол. Andrzej Sapkowski, *21 червня 1948, Лодзь, Польща) — польський письменник-фантаст і публіцист. Українською мовою твори Сапковського виходили у видавництвах «Клуб сімейного дозвілля» (серія «Відьмак»), Зелений пес («Трилогія гуситська») та у журналі «Всесвіт».

                Книги автора перекладено англійською, болгарською, естонською, іспанською, італійською, китайською, корейською, литовською, нідерландською, німецькою, португальською, російською, сербською, словацькою, угорською, українською, фінською, французькою, чеською, шведською, японською та іншими мовами. В самій лише Польщі продано близько 2 млн примірників його книг.
            </p><br>
        </div>
        <div class="aboutAuthor">
            <h4 id="p3">
                Про Автора
            </h4>
        </div>
    </div>
    <div class="bookText">
        <h2 id="zmist">Оповідання, що увійшли до книги</h2>
        <p style="padding-left: 75px; font-size: 20px">Межа можливого</p>
        <p style="padding-left: 75px; font-size: 20px">Шматок льоду</p>
        <p style="padding-left: 75px; font-size: 20px">Трохи жертовності</p>
        <p style="padding-left: 75px; font-size: 20px">Меч Призначення </p>
        <p style="padding-left: 75px; font-size: 20px">Щось більше</p>
    </div>
</div>
</body>
</html>