<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Мій Улюблений Фільм</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body>
<div class="wrapperFilm">
    <div class="filmInfo">
        <div class="filmImageSpace">
            <img class="filmImage" src = "./img/Interstellar_2014.jpg"
                 alt = "Постер фільму"
                 title = "Постер фільму"
                 width = "300" height = "400"
            />
        </div>
        <div class="filmTextInfo" style="padding-left: 50px; padding-top: 25px">
            <p><strong style="font-weight: bold">Рік:</strong> 2014</p><br>
            <p><strong style="font-weight: bold">Країна:</strong> США</p><br>
            <p><strong style="font-weight: bold">Жанр:</strong> Наукова фантастика,драма</p><br>
            <p><strong style="font-weight: bold">Режисер:</strong> Крістофер Нолан</p><br>
            <p><strong style="font-weight: bold">Актори:</strong> Меттью Макконехі
                Енн Гетевей
                Джессіка Честейн
                Кейсі Аффлек
                Маккензі Фой
                Майкл Кейн
                Джон Літгоу
                Метт Деймон</p><br>
            <p><strong style="font-weight: bold">Тривалість:</strong> 169 хв</p><br>
            <p><strong style="font-weight: bold">Вікові обмеження:</strong> 16+</p><br>
        </div>
    </div>
    <div class="filmPhotos" style="display: flex">
        <div class="chapterName" style="padding: 25px">
            <h4 id="p3">
                Фото
            </h4>
        </div>
        <div style="padding: 25px">
            <img class="photos" src = "./img/загружено.jpg"
            />
            <img class="photos" src = "/img/загружено (1).jpg"
            />
            <img class="photos" src = "./img/original-qno.jpg"
            />
            <img class="photos" src = "./img/images.jpg"
            />
            <img class="photos" src = "./img/загружено (2).jpg"
            />
            <img class="photos" src = "./img/interstellar_2014_8.jpg"
            />
        </div>
    </div>
    <div class="shortInfo" style="display: flex">
        <h4 id="p2" style="padding: 25px">
            Опис
        </h4>
        <div class="shortInfoText" style="padding: 25px">
            <p>
                <a href="https://uk.wikipedia.org/wiki/Інтерстеллар"> «Інтерсте́ллар»</a>
                (англ. «Interstellar», тобто буквально «Міжзоряний [політ]») — американсько-британський науково-фантастичний кінофільм від Крістофера Нолана. В головних ролях знялись Меттью Макконехі, Енн Гетевей, Джессіка Честейн, Кейсі Аффлек і Майкл Кейн. Нолан зв'язав свої ідеї з існуючим сценарієм, написаним його братом Джонатаном Ноланом, який розроблявся у 2007 році для студії Paramount Pictures. В Україні фільм вийшов у прокат у IMAX-кінотеатрах 6 листопада 2014.

                На 13 серпня 2021 року фільм займав 28-у позицію у списку 250 найкращих фільмів за версією IMDb.
            </p>
        </div>
    </div>
</div>
</body>
</html>