<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Головна Сторінка</title>
</head>
<body>
<a href="/book">Моя улюблена книга</a>
<a href="/film">Мій улюблений фільм</a>
</body>
</html>